Repository camelot-os/sentry-kernel, pull requests merged in 2025-05, with the labels that each got.

#15 doc: updating README with a complete helper for cross-files
  README.md
Labels: documentation

#21 fix: adding missing hsi48 clock source config for RNG usage
  dts/examples/nucleo_u5a5.dts
  dts/examples/nucleo_u5a5_autotest.dts
Labels: bug

#22 Removing check for dunamai binary in meson
  meson.build
Labels: enhancement

#16 build: moving CFI flags to lib level
  .github/workflows/gnulinux.yml
  configs/nucleo_u5a5_autotest_harden_defconfig
  dts/examples/nucleo_u5a5_autotest_harden.dts
  kernel/src/drivers/meson.build
  kernel/src/managers/meson.build
  kernel/src/sched/meson.build
  kernel/src/syscalls/meson.build
  kernel/src/zlib/meson.build
  meson.build
Labels: build-system

#7 proof: moving shared tooling to dedicated library
  kernel/proof/libproof/include/framac_entropy.h
  kernel/proof/libproof/meson.build
  kernel/proof/libproof/src/entropy.c
  kernel/proof/meson.build
  kernel/proof/proof_composition/proof_arch/main_arch.c
  kernel/proof/proof_composition/proof_arch/meson.build
  kernel/proof/proof_composition/proof_bsp/framac_tools.h
  kernel/proof/proof_composition/proof_bsp/proof_exti/main.c
  kernel/proof/proof_composition/proof_bsp/proof_exti/meson.build
  kernel/proof/proof_composition/proof_bsp/proof_pwr/main.c
  kernel/proof/proof_composition/proof_bsp/proof_pwr/meson.build
  kernel/proof/proof_composition/proof_bsp/proof_rcc/main.c
  kernel/proof/proof_composition/proof_bsp/proof_rcc/meson.build
  kernel/proof/proof_composition/proof_bsp/proof_rng/main.c
  kernel/proof/proof_composition/proof_bsp/proof_rng/meson.build
  kernel/proof/proof_composition/proof_zlib/kernel_zlib.c
  kernel/proof/proof_composition/proof_zlib/meson.build
  kernel/proof/proof_entrypoint/kernel_entrypoint.c
  kernel/proof/proof_entrypoint/meson.build
  kernel/proof/proof_handlers/svc/handler.c
  kernel/proof/proof_handlers/svc/meson.build
  kernel/proof/proof_handlers/systick/handler_systick.c
  kernel/proof/proof_handlers/systick/meson.build
Labels: code-architecture, framac:contract, framac:norte

#8 UAPI: Bump rust edition to 2024 + Fix miri tests
  .github/workflows/gnulinux.yml
  .github/workflows/macos.yml
  README.md
  dts/sentry.dtsi
  meson.options
  uapi/Cargo.lock
  uapi/Cargo.toml
  uapi/meson.build
  uapi/src/exchange.rs
  uapi/src/ffi_c.rs
  uapi/src/lib.rs
  uapi/src/systypes.rs
Labels: dependencies, test, build-system, uapi

#24 Add Kani proofs for rust uapi
  .github/workflows/gnulinux.yml
  README.md
  uapi/Cargo.toml
  uapi/README.md
  uapi/tests/kani_tests.rs
Labels: enhancement, uapi
