Repository camelot-os/sentry-kernel, pull requests merged in 2025-09, with the labels that each got.

#53 kernel,sysgate: adding autotest-only capability control
  kernel/include/sentry/arch/asm-generic/handler-svc-lut.h
  kernel/include/sentry/managers/security.h
  kernel/include/sentry/syscalls.h
  kernel/src/arch/asm-cortex-m/handler-svc-lut.c
  kernel/src/arch/asm-cortex-m/handler.c
  kernel/src/arch/asm-rv32/handler-svc-lut.c
  kernel/src/managers/security/security.c
  kernel/src/syscalls/meson.build
  kernel/src/syscalls/sysgate_autotest.c
  uapi/include/uapi/types.h
  uapi/src/ffi_c.rs
  uapi/src/syscall.rs
  uapi/src/systypes.rs
Labels: enhancement, test, uapi

#54 autotest: capabilities coverage check startup
  autotest/Kconfig
  autotest/c/src/main.c
  autotest/c/src/tests/include/test_capability.h
  autotest/c/src/tests/src/meson.build
  autotest/c/src/tests/src/test_capability.c.in
  autotest/c/src/tests/src/test_dma.c
  configs/nucleo_u5a5_autotest_defconfig
  configs/nucleo_u5a5_autotest_harden_defconfig
  configs/nucleo_wb55_autotest_defconfig
  configs/stm32f429i_disc1_autotest_defconfig
  kernel/src/managers/security/security.c
  kernel/src/managers/task/task_autotest.c.in
  kernel/src/syscalls/sysgate_dma_assign.c
  kernel/src/syscalls/sysgate_dma_get_info.c
  kernel/src/syscalls/sysgate_dma_resume.c
  kernel/src/syscalls/sysgate_dma_start.c
  kernel/src/syscalls/sysgate_dma_suspend.c
  kernel/src/syscalls/sysgate_dma_unassign.c
  kernel/src/syscalls/sysgate_get_shmhandle.c
  kernel/src/syscalls/sysgate_map.c
  kernel/src/syscalls/sysgate_pm_manage.c
  kernel/src/syscalls/sysgate_shm_get_infos.c
  kernel/src/syscalls/sysgate_shm_set_creds.c
  tools/robot/sentry-autotest.robot
  uapi/include/uapi/uapi.h
Labels: enhancement, test

#66 autotest: fix autotest rust build
  autotest/rust/src/devices_dt.rs.in
  autotest/rust/src/tests/test_dma.rs
  autotest/rust/src/tests/test_ipc.rs
  uapi/src/exchange.rs
Labels: bug, test, uapi

#67 ci: removing autotest-rs build while mesonbuild issue #14986 is not fixed
  .github/workflows/gnulinux.yml
Labels: ci-cd

#69 Doc/update non impl yet features
  doc/concepts/concepts/events.rst
  doc/concepts/concepts/initial.rst
  doc/concepts/concepts/security.rst
  doc/concepts/sw_architecture/bsp.rst
  doc/concepts/sw_architecture/task_layout.rst
Labels: documentation
