Repository camelot-os/sentry-kernel, changes with the owners that CODEOWNERS names for each.
All owners: @florent-valette, @philippe-thierry, @victor-servant

emulator: adding clean numpy-compliant doc
  tools/sentry-emulator/src/camelot/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/__main__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/cli.py
  tools/sentry-emulator/src/camelot/sentry_emulator/dispatcher.py
  tools/sentry-emulator/src/camelot/sentry_emulator/protocol.py
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/conftest.py
Owners: @florent-valette

emulator: fixing races and adding log() support between app and daemon
  tools/sentry-emulator/proto/emulator.proto
  tools/sentry-emulator/sample-rust-app/Cargo.lock
  tools/sentry-emulator/sample-rust-app/src/main.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/emulator_pb2.py
  tools/sentry-emulator/src/camelot/sentry_emulator/protocol.py
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/test_protocol.py
  tools/sentry-emulator/tests/test_server.py
  uapi/src/exchange.rs
  uapi/src/posix.rs
Owners: @florent-valette, @victor-servant

emulator: support for log levels
  tools/sentry-emulator/src/camelot/sentry_emulator/cli.py
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
Owners: @florent-valette

emulator: support for basic syscalls
  tools/sentry-emulator/sample-rust-app/src/main.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/test_server.py
Owners: @victor-servant, @florent-valette

emulator: adding cli test suite
  tools/sentry-emulator/tests/test_cli.py
Owners: @florent-valette

emulator: enhanced emulator with proper meson integration
  tools/meson.build
  tools/sentry-emulator/README.md
  tools/sentry-emulator/meson.build
  tools/sentry-emulator/pyproject.toml
  tools/sentry-emulator/sample-rust-app/Cargo.lock
  tools/sentry-emulator/sample-rust-app/Cargo.toml
  tools/sentry-emulator/sample-rust-app/src/bin/sample-app-one.rs
  tools/sentry-emulator/sample-rust-app/src/bin/sample-app-two.rs
  tools/sentry-emulator/sample-rust-app/src/lib.rs
  tools/sentry-emulator/sample-rust-app/src/main.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/test_cli.py
  tools/sentry-emulator/tests/test_emulator.py
  tools/sentry-emulator/tests/test_server.py
  tools/sentry-emulator/tox.ini
  uapi/src/posix.rs
Owners: @florent-valette, @victor-servant

emulator: adding cleaner emulator hierarchy
  tools/meson.build
  tools/sentry-emulator/sample-rust-app/src/lib.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/constants.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/daemon.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/models.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/servicer.py
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/test_server.py
Owners: @florent-valette, @victor-servant

emulator,doc: enhanced source documentation
  tools/sentry-emulator/sample-rust-app/src/bin/sample-app-one.rs
  tools/sentry-emulator/sample-rust-app/src/bin/sample-app-two.rs
  tools/sentry-emulator/sample-rust-app/src/lib.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/daemon.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/models.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/servicer.py
  tools/sentry-emulator/tests/test_protocol.py
  tools/sentry-emulator/tests/test_server.py
Owners: @victor-servant, @florent-valette

emulator,ci: adding workflow
  .github/workflows/emulation.yml
  requirements.txt
Owners: @florent-valette, @philippe-thierry, @victor-servant

emulator,ci: enhanced verbosity of e2e emulation test
  .github/workflows/emulation.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

uapi: removing useless autotest-related code in posix mode
  uapi/src/posix.rs
Owners: @victor-servant

emulator: adding support for send_ipc()
  tools/sentry-emulator/sample-rust-app/src/lib.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/constants.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/daemon.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/models.py
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/servicer.py
  tools/sentry-emulator/tests/test_emulator.py
  tools/sentry-emulator/tests/test_server.py
Owners: @victor-servant, @florent-valette

doc,concepts: adding emulator related documentation
  doc/concepts/emulator.rst
  doc/concepts/index.rst
Owners: @florent-valette, @philippe-thierry, @victor-servant

emulator: fixing sample apps to never use std by herself
  tools/sentry-emulator/sample-rust-app/src/lib.rs
  tools/sentry-emulator/src/camelot/sentry_emulator/emulator_server/servicer.py
  uapi/src/posix.rs
Owners: @victor-servant, @florent-valette

uapi: fixing fmt and clippy warns
  uapi/Cargo.toml
  uapi/src/exchange.rs
  uapi/src/lib.rs
  uapi/src/posix.rs
Owners: @victor-servant

zlib,sha: adding sha256 using libecc as basis
  LICENSES/BSD-2-Clause.txt
  kernel/Kconfig
  kernel/include/sentry/zlib/crypto.h
  kernel/src/zlib/crypto/meson.build
  kernel/src/zlib/crypto/sha-256.c
  kernel/tests/test_utils/meson.build
  kernel/tests/test_utils/test_zlib/crypto/meson.build
  kernel/tests/test_utils/test_zlib/crypto/sha256_nist_parser.c
  kernel/tests/test_utils/test_zlib/crypto/sha256_nist_parser.h
  kernel/tests/test_utils/test_zlib/crypto/test_sha256_nist.c
  kernel/tests/test_utils/test_zlib/crypto/vectors/SHA256LongMsg.rsp
  kernel/tests/test_utils/test_zlib/crypto/vectors/SHA256ShortMsg.rsp
  kernel/tests/test_utils/test_zlib/crypto/vectors/kernel/tests/test_utils/test_zlib/crypto/vectors/SHA256LongMsg.rsp
  kernel/tests/test_utils/test_zlib/crypto/vectors/kernel/tests/test_utils/test_zlib/crypto/vectors/SHA256ShortMsg.rsp
  kernel/tests/test_utils/test_zlib/meson.build
  meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: adding missing reuse license and copyright for NIST vectors
  REUSE.toml
Owners: @victor-servant

fix: removing useless duplicates of vectors
  kernel/tests/test_utils/test_zlib/crypto/vectors/kernel/tests/test_utils/test_zlib/crypto/vectors/SHA256LongMsg.rsp
  kernel/tests/test_utils/test_zlib/crypto/vectors/kernel/tests/test_utils/test_zlib/crypto/vectors/SHA256ShortMsg.rsp
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix,cve: fixing incomplete ownership check for IRQ manipulation
  kernel/src/syscalls/sysgate_int_acknowledge.c
  kernel/src/syscalls/sysgate_int_disable.c
  kernel/src/syscalls/sysgate_int_enable.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest: fixing dev table indexes generation error
  autotest/c/src/tests/include/devices-dt.h.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof,wp: initial function contracts for sha256 implémentation
  kernel/include/sentry/zlib/crypto.h
  kernel/src/zlib/crypto/sha-256.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof,wp: adding frama-C entrypoint for EVA and WP to cover SHA256 implementation
  kernel/proof/proof_composition/proof_zlib/kernel_zlib_sha256.c
  kernel/proof/proof_composition/proof_zlib/meson.build
  kernel/src/zlib/crypto/sha-256.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: adding SHA256 implementation build in nooutput mode
  configs/nucleo_u5a5_nooutput_defconfig
Owners: @florent-valette

reuse: adding missing licenses associated to sha256 implementation and NIST vectors
  LICENSES/NIST-PD.txt
Owners: @florent-valette, @philippe-thierry, @victor-servant

enhancement: adding fuzzing oriented autotest suite
  README.md
  autotest/Kconfig
  autotest/c/src/main.c
  autotest/c/src/tests/include/meson.build
  autotest/c/src/tests/include/test_syscall_fuzz.h
  autotest/c/src/tests/src/meson.build
  autotest/c/src/tests/src/test_syscall_fuzz.c
  configs/nucleo_u5a5_autotest_fuzzer_defconfig
  meson.build
  tools/robot/meson.build
  tools/robot/sentry-autotest-fuzz.robot
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: adding fuzzing mode build
  .github/workflows/gnulinux.yml
  dts/examples/nucleo_u5a5_autotest_fuzzer.dts
Owners: @florent-valette, @philippe-thierry, @victor-servant

move uapi_inc predeclaration in proper block
  meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest: make fuzzing suite portable
  autotest/c/include/arch/asm-cortex-m/syscall_fuzz.h
  autotest/c/include/arch/asm-rv32/syscall_fuzz.h
  autotest/c/include/syscall_fuzz.h
  autotest/c/src/tests/src/test_syscall_fuzz.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing EOL
  autotest/c/include/syscall_fuzz.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: invalid uapi header path resolution
  autotest/c/include/arch/asm-cortex-m/syscall_fuzz.h
  autotest/c/include/arch/asm-rv32/syscall_fuzz.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,config: fixing fuzzing mode integration
  autotest/Kconfig
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: remove duplicated ownership between metadata and dts
  kernel/src/managers/device/device.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing incoherent declaration vs implementation in irq acknowledge call
  kernel/src/managers/interrupt/interrupt.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

init: rename metadata fields correctly for SHA256 based integrity check
  kernel/src/managers/task/task_init.c
  kernel/src/syscalls/sysgate_int_acknowledge.c
  schemas/task/metadata.schema.json.cpp
  schemas/task/sample.json
  schemas/task/sample.toml
  schemas/task/task_metadata.json
Owners: @florent-valette, @philippe-thierry, @victor-servant

genmetadata: adding sha256 calculation on metadata blob generation
  tools/genmetadata/meson.build
  tools/genmetadata/src/arch/arch.hpp
  tools/genmetadata/src/main.cpp
  tools/genmetadata/src/reflect.hpp
  tools/genmetadata/src/task_meta.hpp.in
Owners: @florent-valette

sentry,meta: adding metadata sha256 integrity check support
  kernel/src/managers/task/task_init.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing invalid static assertion on metadata size
  kernel/src/managers/task/task_init.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

zlib,string: adding required memcmp() implementation for sha256 comparison
  kernel/include/sentry/zlib/string.h
  kernel/src/zlib/string.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

tools,genmetadata: remove code duplication
  tools/genmetadata/src/arch/arch.hpp
  tools/genmetadata/src/main.cpp
  tools/genmetadata/src/reflect.hpp
  tools/genmetadata/src/task_meta.hpp.in
Owners: @florent-valette

zlib,proof: fixing WP contract with proper ACSL
  kernel/include/sentry/zlib/string.h
  kernel/src/zlib/string.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*       @florent-valette @philippe-thierry @victor-servant
# configs are the mechanism that link .config to meson
configs @florent-valette
# tools are the subpart of meson and templates that allow generation of
# kernel sources (headers, etc.) typically using jinja2 and json
tools   @florent-valette
# all rust code is under the ownership of Victor
*.rs    @victor-servant
*.toml    @victor-servant
