Repository camelot-os/sentry-kernel, changes with the owners that CODEOWNERS names for each.
All owners: @florent-valette, @philippe-thierry, @victor-servant

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*       @florent-valette @philippe-thierry @victor-servant
# configs are the mechanism that link .config to meson
configs @florent-valette
# tools are the subpart of meson and templates that allow generation of
# kernel sources (headers, etc.) typically using jinja2 and json
tools   @florent-valette
# all rust code is under the ownership of Victor
*.rs    @victor-servant
*.toml    @victor-servant

fix: deactiate alignment check over packed struct in ktaskh conversion
  kernel/src/managers/task/task_core.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing SPDX headers to valid values
  configs/nucleo_u5a5_autotest_framac_defconfig
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v7.h
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v8.h
  kernel/proof/proof_composition/proof_mm/meson.build
  kernel/src/managers/task/task_core.c
  kernel/src/managers/task/task_core.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

qual: removing userspace stuff from kernel codequal coverage
  .github/workflows/codequal.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: keep uapi C headers gen even without uapi build
  uapi/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof: adding guards on region forge
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v8.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

mpu: removing useless alignment check on already forged registers
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v7.h
  kernel/src/managers/task/task_core.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

framac: enhancing coverage of forge+add region sequence
  kernel/proof/proof_composition/proof_mm/kernel_map_resource.c
  kernel/proof/proof_composition/proof_mm/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: adding back force inline for resource forge
  kernel/include/sentry/arch/asm-cortex-m/mpu_pmsa_v8.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: due to guard code, adding forge-time failcheck for MPU
  kernel/include/sentry/arch/asm-cortex-m/mpu.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: adding firmware.hex file artifact delivery on GNU/Linux build
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: adding e2e test for u5a5 nooutput build
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: using docker image hosted bin2hex tool
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: fixing artfact file naming to properly identify each file
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

build: adding auto-gen of firmware bin file
  meson.build
  support/scripts/extract_code_range.py
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci,e2e: fixing job to directly use the firmware binary
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fix CI e2e job and reuse
  .github/workflows/gnulinux.yml
  support/scripts/extract_code_range.py
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof: starting support for e-acsl runtime assertion in autotesting mode
  kernel/meson.build
  kernel/src/zlib/meson.build
  kernel/src/zlib/string.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof,eacsl: adding kconfig-based trigger to enable runtime annotation
  autotest/Kconfig
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: removing useless build_always, using dependency hierarchy instead
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof(eacsl): adding mini-gmp dep for ACSL runtime assertion
  kernel/meson.build
  meson.build
  subprojects/mini-gmp.wrap
  subprojects/packagefiles/mini-gmp/meson_support.patch
Owners: @florent-valette, @philippe-thierry, @victor-servant

build: moving E-ACSL flag to security related part
  autotest/Kconfig
  kernel/Kconfig
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof(eacsl): initial inclusion of gmp minimal implementation to kernel e-acsl part
  kernel/meson.build
  kernel/src/eacsl/eacsl.c
  kernel/src/eacsl/meson.build
  kernel/src/meson.build
  subprojects/packagefiles/mini-gmp/meson_support.patch
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof(eacsl): cleaning target and add missing dep on libeacsl
  kernel/meson.build
  kernel/src/eacsl/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof,e-acsl: adding initial support for hardened capa check
  kernel/src/managers/security/meson.build
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

asm,cortex-m: fix initial EXC_RETURN value
  kernel/include/sentry/arch/asm-cortex-m/thread.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

uapi,posix: initial POSIX support for UAPI
  uapi/src/arch/mod.rs
  uapi/src/lib.rs
  uapi/src/posix.rs
Owners: @victor-servant

proof: fixing deprecated empty_block() Frama-C predicate with valid_or_empty()
  kernel/src/zlib/string.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

framac: initiate coverage support
  kernel/proof/tools/gencoverage.py
Owners: @florent-valette

framac: adding coverage support using metrics
  kernel/proof/proof_composition/proof_arch/meson.build
  kernel/proof/proof_composition/proof_bsp/proof_exti/meson.build
  kernel/proof/proof_composition/proof_mm/meson.build
  kernel/proof/proof_composition/proof_zlib/meson.build
  kernel/proof/proof_entrypoint/meson.build
  kernel/proof/proof_handlers/svc/meson.build
  kernel/proof/proof_handlers/systick/meson.build
  kernel/proof/tools/gencoverage.py
Owners: @florent-valette, @philippe-thierry, @victor-servant

framac: update report generator for generic coverage xml result
  kernel/proof/tools/gencoverage.py
Owners: @florent-valette

sentry,devlist: using sentry,label to uniquely identify a given device in the DTS
  autotest/c/src/drivers/timer/stm32-basic-timer-dt.c.in
  autotest/c/src/drivers/timer/stm32-basic-timer-dt.h.in
  autotest/c/src/tests/include/devices-dt.h.in
  autotest/c/src/tests/src/test_gpio.c
  autotest/c/src/tests/src/test_map.c
  autotest/rust/src/devices_dt.rs.in
  dts/examples/nucleo_u5a5_autotest.dts
  dts/examples/nucleo_u5a5_autotest_harden.dts
  dts/examples/stm32f429i_disc1_autotest.dts
  kernel/include/sentry/syscalls.h
  kernel/src/arch/asm-cortex-m/handler-svc-lut.c
  kernel/src/arch/asm-rv32/handler-svc-lut.c
  kernel/src/managers/device/devlist-dt.h.in
  kernel/src/syscalls/sysgate_get_devhandle.c
  uapi/include/uapi/uapi.h
  uapi/src/ffi_c.rs
  uapi/src/syscall.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

sentry,sched: adding RMA real-time scheduler
  kernel/include/sentry/sched.h
  kernel/src/sched/meson.build
  kernel/src/sched/sched_rma.c
  kernel/src/startup/Kconfig
  kernel/src/startup/entrypoint.c
  meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

sentry,sched: adding RMA-related documentation
  doc/concepts/sw_architecture/schedulers.rst
Owners: @florent-valette, @philippe-thierry, @victor-servant

support JOB_STATE_YIELDED as a transient RMA state
  doc/concepts/sw_architecture/schedulers.rst
  kernel/include/sentry/job.h
  kernel/src/sched/sched_rma.c
  kernel/src/sched/sched_rrmq.c
  kernel/src/syscalls/sysgate_yield.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing coyright to proper owner
  kernel/src/sched/sched_rma.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: fixing nooutput e2e run adding missing build dep
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

uapi,posix: initial POSIX support for UAPI
  uapi/src/arch/mod.rs
  uapi/src/lib.rs
  uapi/src/posix.rs
Owners: @victor-servant

uapi,posix: adding sleep and println support
  uapi/src/posix.rs
Owners: @victor-servant

simulator: initial sentry simulator for native testing of Camelot-OS applications
  meson.options
  tools/meson.build
  tools/sentry-emulator/.gitignore
  tools/sentry-emulator/README.md
  tools/sentry-emulator/meson.build
  tools/sentry-emulator/proto/emulator.proto
  tools/sentry-emulator/pyproject.toml
  tools/sentry-emulator/sample-rust-app/Cargo.lock
  tools/sentry-emulator/sample-rust-app/Cargo.toml
  tools/sentry-emulator/sample-rust-app/src/main.rs
  tools/sentry-emulator/src/camelot/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/__main__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/cli.py
  tools/sentry-emulator/src/camelot/sentry_emulator/dispatcher.py
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/emulator_pb2.py
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/emulator_pb2_grpc.py
  tools/sentry-emulator/src/camelot/sentry_emulator/protocol.py
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/conftest.py
  tools/sentry-emulator/tests/test_protocol.py
  tools/sentry-emulator/tests/test_server.py
  tools/sentry-emulator/tox.ini
  uapi/Cargo.toml
  uapi/src/posix.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: adding missing copyrights
  REUSE.toml
  tools/sentry-emulator/.gitignore
  tools/sentry-emulator/README.md
  tools/sentry-emulator/meson.build
  tools/sentry-emulator/proto/emulator.proto
  tools/sentry-emulator/pyproject.toml
  tools/sentry-emulator/sample-rust-app/Cargo.lock
  tools/sentry-emulator/sample-rust-app/Cargo.toml
  tools/sentry-emulator/sample-rust-app/src/main.rs
  tools/sentry-emulator/src/camelot/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/__main__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/cli.py
  tools/sentry-emulator/src/camelot/sentry_emulator/dispatcher.py
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/__init__.py
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/emulator_pb2.py
  tools/sentry-emulator/src/camelot/sentry_emulator/grpc/emulator_pb2_grpc.py
  tools/sentry-emulator/src/camelot/sentry_emulator/protocol.py
  tools/sentry-emulator/src/camelot/sentry_emulator/server.py
  tools/sentry-emulator/tests/conftest.py
  tools/sentry-emulator/tests/test_protocol.py
  tools/sentry-emulator/tests/test_server.py
  tools/sentry-emulator/tox.ini
  uapi/src/posix.rs
Owners: @victor-servant, @florent-valette
