Repository camelot-os/sentry-kernel, changes with the owners that CODEOWNERS names for each.
All owners: @florent-valette, @philippe-thierry, @victor-servant

uapi: support for autotest-controled capability set
  uapi/include/uapi/types.h
  uapi/src/ffi_c.rs
  uapi/src/syscall.rs
  uapi/src/systypes.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest: adding clean ABI retro-compat compliant use of conditional syscalls
  kernel/include/sentry/arch/asm-generic/handler-svc-lut.h
  kernel/src/arch/asm-cortex-m/handler-svc-lut.c
  kernel/src/arch/asm-cortex-m/handler.c
  kernel/src/arch/asm-rv32/handler-svc-lut.c
  uapi/include/uapi/types.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof: fixing DMA handle translation assertion
  kernel/src/managers/dma/dma.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,uapi: adding C exports for capability autotesting
  uapi/include/uapi/uapi.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest: capability test suite in C (basics)
  autotest/Kconfig
  autotest/src/main.c
  autotest/src/tests/include/test_capability.h
  autotest/src/tests/src/meson.build
  autotest/src/tests/src/test_capability.c.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,c: adding support for SHM capas checks
  autotest/src/tests/src/test_capability.c.in
  kernel/src/managers/task/task_autotest.c.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

manager,security: fixing security init in autotest mode
  kernel/src/managers/security/security.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

configs: adding capa checks as default to autotest profiles
  configs/nucleo_u5a5_autotest_defconfig
  configs/nucleo_u5a5_autotest_harden_defconfig
  configs/nucleo_wb55_autotest_defconfig
  configs/stm32f429i_disc1_autotest_defconfig
Owners: @florent-valette

autotest,c: fix DMA test suite border effect
  autotest/src/tests/src/test_dma.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

kernel,security: fixing SHM-related capability checking
  autotest/src/tests/src/test_capability.c.in
  kernel/src/managers/security/security.c
  kernel/src/syscalls/sysgate_get_shmhandle.c
  kernel/src/syscalls/sysgate_map.c
  kernel/src/syscalls/sysgate_shm_get_infos.c
  kernel/src/syscalls/sysgate_shm_set_creds.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,c: adding DMA capability checks in autotest
  autotest/src/tests/src/test_capability.c.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

gate,fix: fixing all DMA & PM capability checks
  kernel/src/syscalls/sysgate_dma_assign.c
  kernel/src/syscalls/sysgate_dma_get_info.c
  kernel/src/syscalls/sysgate_dma_resume.c
  kernel/src/syscalls/sysgate_dma_start.c
  kernel/src/syscalls/sysgate_dma_suspend.c
  kernel/src/syscalls/sysgate_dma_unassign.c
  kernel/src/syscalls/sysgate_pm_manage.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

robot: adding autotest capa suite to robotframework test suite
  tools/robot/sentry-autotest.robot
Owners: @florent-valette

autotest,rust: fixing various warnings
  autotest/rust/src/tests/test_dma.rs
  autotest/rust/src/tests/test_gethandle.rs
  autotest/rust/src/tests/test_shm.rs
Owners: @victor-servant

uapi: fixing clippy, fmt and test
  uapi/src/exchange.rs
  uapi/src/syscall.rs
  uapi/src/systypes.rs
Owners: @victor-servant

ci,uapi: make kani & miri allowed to fail by now
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

Set PartialEq for Status enum
  uapi/src/systypes.rs
Owners: @victor-servant

fix: fixing register name in the autotest-related syscalls for rv32
  kernel/src/arch/asm-rv32/handler-svc-lut.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing doxygen and mrproper conditional gate
  kernel/include/sentry/syscalls.h
  kernel/src/arch/asm-cortex-m/handler.c
  kernel/src/syscalls/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,uapi: adding C exports for capability autotesting
  uapi/include/uapi/uapi.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest: capability test suite in C (basics)
  autotest/Kconfig
  autotest/c/src/main.c
  autotest/c/src/tests/include/test_capability.h
  autotest/c/src/tests/src/meson.build
  autotest/c/src/tests/src/test_capability.c.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,c: adding support for SHM capas checks
  autotest/c/src/tests/src/test_capability.c.in
  kernel/src/managers/task/task_autotest.c.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

manager,security: fixing security init in autotest mode
  kernel/src/managers/security/security.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

configs: adding capa checks as default to autotest profiles
  configs/nucleo_u5a5_autotest_defconfig
  configs/nucleo_u5a5_autotest_harden_defconfig
  configs/nucleo_wb55_autotest_defconfig
  configs/stm32f429i_disc1_autotest_defconfig
Owners: @florent-valette

autotest,c: fix DMA test suite border effect
  autotest/c/src/tests/src/test_dma.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

kernel,security: fixing SHM-related capability checking
  autotest/c/src/tests/src/test_capability.c.in
  kernel/src/managers/security/security.c
  kernel/src/syscalls/sysgate_get_shmhandle.c
  kernel/src/syscalls/sysgate_map.c
  kernel/src/syscalls/sysgate_shm_get_infos.c
  kernel/src/syscalls/sysgate_shm_set_creds.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,c: adding DMA capability checks in autotest
  autotest/c/src/tests/src/test_capability.c.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

gate,fix: fixing all DMA & PM capability checks
  kernel/src/syscalls/sysgate_dma_assign.c
  kernel/src/syscalls/sysgate_dma_get_info.c
  kernel/src/syscalls/sysgate_dma_resume.c
  kernel/src/syscalls/sysgate_dma_start.c
  kernel/src/syscalls/sysgate_dma_suspend.c
  kernel/src/syscalls/sysgate_dma_unassign.c
  kernel/src/syscalls/sysgate_pm_manage.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

robot: adding autotest capa suite to robotframework test suite
  tools/robot/sentry-autotest.robot
Owners: @florent-valette

Fix impl_exchangeable macro for miri tests
  uapi/src/exchange.rs
Owners: @victor-servant

workflow: add nucleo u5a5 autotest-rs in pr event matrix build
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

uapi,rust: adding missing exchangeable treat for DMA infos
  uapi/src/exchange.rs
Owners: @victor-servant

autotest,rust: fixing old copy-to/copy-from argument passing
  autotest/rust/src/devices_dt.rs.in
  autotest/rust/src/tests/test_dma.rs
  autotest/rust/src/tests/test_ipc.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: fixing the devices tree generation
  autotest/rust/src/devices_dt.rs.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

uapi,rust: fixing format
  uapi/src/exchange.rs
Owners: @victor-servant

ci: removing autotest-rs build while mesonbuild issue #14986 is not fixed
  .github/workflows/gnulinux.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

doc: fixing authoring of concepts and internals docs
  doc/concepts/conf.py
  doc/internals/conf.py
Owners: @florent-valette, @philippe-thierry, @victor-servant

doc,concept: fix some minor typos
  doc/concepts/concepts/events.rst
  doc/concepts/concepts/initial.rst
  doc/concepts/concepts/security.rst
  doc/concepts/sw_architecture/bsp.rst
  doc/concepts/sw_architecture/task_layout.rst
Owners: @florent-valette, @philippe-thierry, @victor-servant

doc,concept: Add todo section for not implemented yet features.
  doc/concepts/concepts/events.rst
  doc/concepts/concepts/initial.rst
  doc/concepts/concepts/security.rst
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: using generic headers when not arch or driver
  kernel/include/sentry/arch/asm-cortex-m/dwt.h
  kernel/include/sentry/arch/asm-generic/platform.h
  kernel/src/managers/clock/perfo.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*       @florent-valette @philippe-thierry @victor-servant
# configs are the mechanism that link .config to meson
configs @florent-valette
# tools are the subpart of meson and templates that allow generation of
# kernel sources (headers, etc.) typically using jinja2 and json
tools   @florent-valette
# all rust code is under the ownership of Victor
*.rs    @victor-servant
*.toml    @victor-servant
