Repository camelot-os/sentry-kernel, changes with the owners that CODEOWNERS names for each.
All owners: @florent-valette, @philippe-thierry, @victor-servant

Autotests: cargo fmt
  autotest/src/tests/src-rs/src/devices_utils.rs
  autotest/src/tests/src-rs/src/lib.rs
  autotest/src/tests/src-rs/src/test_cycles.rs
  autotest/src/tests/src-rs/src/test_dma.rs
  autotest/src/tests/src-rs/src/test_ipc.rs
  autotest/src/tests/src-rs/src/test_irq.rs
  autotest/src/tests/src-rs/src/test_log.rs
  autotest/src/tests/src-rs/src/test_map.rs
  autotest/src/tests/src-rs/src/test_random.rs
  autotest/src/tests/src-rs/src/test_shm.rs
  autotest/src/tests/src-rs/src/test_signal.rs
Owners: @victor-servant

proof: adding more explicit valid_read verification in ACSL
  kernel/include/sentry/zlib/crypto.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof(zlib): initial contracts for generic sort API
  kernel/include/sentry/zlib/sort.h
  kernel/proof/proof_composition/proof_zlib/kernel_zlib_sort.c
  kernel/proof/proof_composition/proof_zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: removing useless label
  kernel/src/zlib/string.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof(zlib): correctness of generic_swap() demonstrated
  kernel/include/sentry/zlib/sort.h
  kernel/include/sentry/zlib/string.h
  kernel/proof/proof_composition/proof_zlib/kernel_zlib_sort.c
  kernel/proof/proof_composition/proof_zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotests: Do not call ffi anymore and call rust instead
  autotest/src/tests/src-rs/src/test_cycles.rs
  autotest/src/tests/src-rs/src/test_dma.rs
  autotest/src/tests/src-rs/src/test_gpio.rs
  autotest/src/tests/src-rs/src/test_handle.rs
  autotest/src/tests/src-rs/src/test_ipc.rs
  autotest/src/tests/src-rs/src/test_irq.rs
  autotest/src/tests/src-rs/src/test_map.rs
  autotest/src/tests/src-rs/src/test_random.rs
  autotest/src/tests/src-rs/src/test_shm.rs
  autotest/src/tests/src-rs/src/test_signal.rs
Owners: @victor-servant

Autotests: Remove useless unsafe calls to copy
  autotest/src/tests/src-rs/src/test_cycles.rs
  autotest/src/tests/src-rs/src/test_dma.rs
  autotest/src/tests/src-rs/src/test_ipc.rs
  autotest/src/tests/src-rs/src/test_irq.rs
  autotest/src/tests/src-rs/src/test_log.rs
  autotest/src/tests/src-rs/src/test_random.rs
  autotest/src/tests/src-rs/src/test_shm.rs
Owners: @victor-servant

Autotests: Fix various bugs
  autotest/src/tests/src-rs/src/test_dma.rs
  autotest/src/tests/src-rs/src/test_log.rs
  autotest/src/tests/src-rs/src/test_map.rs
  autotest/src/tests/src-rs/src/test_shm.rs
  autotest/src/tests/src-rs/src/test_signal.rs
Owners: @victor-servant

Autotests: Add copy to enum Signal
  autotest/src/tests/src-rs/src/test_signal.rs
  uapi/src/systypes.rs
Owners: @victor-servant

Fix copy to kernel for logs
  autotest/src/tests/src-rs/build.rs
  autotest/src/tests/src-rs/src/test_log.rs
Owners: @victor-servant

Autotests: add rlib/staticlib to cargo.toml
  autotest/src/tests/src-rs/Cargo.toml
Owners: @victor-servant

Autotests: remove useless meson config
  autotest/src/tests/src-rs/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotests: Create default structs for dma & shm
  autotest/src/tests/src-rs/src/test_dma.rs
  autotest/src/tests/src-rs/src/test_shm.rs
Owners: @victor-servant

Autotests: Cargo fmt
  autotest/src/tests/src-rs/src/test_log.rs
  autotest/src/tests/src-rs/src/test_map.rs
  autotest/src/tests/src-rs/src/test_signal.rs
Owners: @victor-servant

proof(zlib): correctness of generic_swap() demonstrated
  kernel/include/sentry/zlib/sort.h
  kernel/include/sentry/zlib/string.h
  kernel/proof/proof_composition/proof_zlib/kernel_zlib_sort.c
  kernel/proof/proof_composition/proof_zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof: starting support for e-acsl runtime assertion in autotesting mode
  kernel/meson.build
  kernel/src/zlib/meson.build
  kernel/src/zlib/string.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

proof,eacsl: adding kconfig-based trigger to enable runtime annotation
  autotest/Kconfig
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

fix: removing useless build_always, using dependency hierarchy instead
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotests: Fix jinja2 template
  autotest/src/tests/src-rs/src/devices-dt.rs.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotests: Set up meson for uapi
  autotest/src/tests/src-rs/Cargo.toml
  autotest/src/tests/src-rs/meson.build
Owners: @victor-servant, @florent-valette, @philippe-thierry

autotest,rust: moving to meson build
  autotest/src/tests/src-rs/meson.build
  autotest/src/tests/src-rs/src/devices_utils.rs
  uapi/src/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Work on PMP implementation
  kernel/include/sentry/arch/asm-rv32/pmp.h
  kernel/include/sentry/arch/asm-rv32/riscv-utils.h
  kernel/include/sentry/managers/memory.h
  kernel/include/sentry/managers/memory_types.h
  kernel/include/sentry/managers/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Work on entrypoints
  kernel/src/arch/asm-rv32/handler-svc-lut.c
  kernel/src/arch/asm-rv32/handler.c
  kernel/src/arch/asm-rv32/meson.build
  kernel/src/arch/asm-rv32/rv32-sentry.ld.in
  kernel/src/arch/asm-rv32/systick.c
  kernel/src/startup/entrypoint.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

Test toolchain configurations
  configs/qemu_rv32im_defconfig
  kernel/src/arch/asm-rv32/semihosting.c
  support/meson/riscv32im-unknown-none-elf.ini
  uapi/Cargo.toml
  uapi/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: fix many errors
  autotest/src/tests/src-rs/devices-dt.rs.in
  autotest/src/tests/src-rs/meson.build
  autotest/src/tests/src-rs/src/lib.rs
  autotest/src/tests/src-rs/src/test_irq.rs
  dts/examples/nucleo_u5a5_autotest.dts
  uapi/src/systypes.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: Readd devices_dt.rs.in
  autotest/src/tests/src-rs/devices_dt.rs.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: rename autotest to autotest_rust
  autotest/src/tests/src-rs/src/lib.rs
Owners: @victor-servant

proof(eacsl): adding mini-gmp dep for ACSL runtime assertion
  kernel/meson.build
  meson.build
  subprojects/mini-gmp.wrap
  subprojects/packagefiles/mini-gmp/meson_support.patch
Owners: @florent-valette, @philippe-thierry, @victor-servant

build: moving E-ACSL flag to security related part
  autotest/Kconfig
  kernel/Kconfig
  kernel/src/zlib/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: Update Kconfig for rust tests
  autotest/Kconfig
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: Update meson config for libtest-rs
  autotest/Kconfig
  autotest/meson.build
  autotest/src/tests/src-rs/meson.build
  autotest/src/tests/src-rs/rust-toolchain.toml.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: Add test_gpio + fix some errors
  autotest/src/tests/src-rs/src/test_gpio.rs
Owners: @victor-servant

Autotest: GPIO, fix call to led0
  autotest/src/tests/src-rs/src/test_gpio.rs
Owners: @victor-servant

proof(eacsl): initial inclusion of gmp minimal implementation to kernel e-acsl part
  kernel/meson.build
  kernel/src/eacsl/eacsl.c
  kernel/src/eacsl/meson.build
  kernel/src/meson.build
  subprojects/packagefiles/mini-gmp/meson_support.patch
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: Build devices_utils with meson
  autotest/src/tests/src-rs/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: GPIO: remove useless unsafe
  autotest/src/tests/src-rs/src/test_gpio.rs
Owners: @victor-servant

Autotest: IRQ: use of map_timer & unmap_timer
  autotest/src/tests/src-rs/src/test_irq.rs
Owners: @victor-servant

Autotest: remove Cargo.lock
  autotest/src/tests/src-rs/Cargo.lock
Owners: @florent-valette, @philippe-thierry, @victor-servant

Autotest: GPIO: fix warning on sleep
  autotest/src/tests/src-rs/src/test_gpio.rs
Owners: @victor-servant

proof(eacsl): cleaning target and add missing dep on libeacsl
  kernel/meson.build
  kernel/src/eacsl/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*       @florent-valette @philippe-thierry @victor-servant
# configs are the mechanism that link .config to meson
configs @florent-valette
# tools are the subpart of meson and templates that allow generation of
# kernel sources (headers, etc.) typically using jinja2 and json
tools   @florent-valette
# all rust code is under the ownership of Victor
*.rs    @victor-servant
*.toml    @victor-servant
