Repository camelot-os/sentry-kernel, changes with the owners that CODEOWNERS names for each.
All owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: fixing various warns, leaving only unused
  autotest/rust/src/tests/log.rs
  autotest/rust/src/tests/test_cycles.rs
  autotest/rust/src/tests/test_gpio.rs
  autotest/rust/src/tests/test_ipc.rs
  autotest/rust/src/tests/test_random.rs
  autotest/rust/src/tests/test_sleep.rs
Owners: @victor-servant

autotest,rust: adding handle test suite
  autotest/rust/meson.build
  autotest/rust/src/main.rs
  autotest/rust/src/tests/test_handle.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: fixing various errs and typos
  autotest/rust/src/tests/log.rs
  autotest/rust/src/tests/mod.rs
  autotest/rust/src/tests/test_cycles.rs
  autotest/rust/src/tests/test_gpio.rs
Owners: @victor-servant

autotest,rust: move last mods to new hierarchy
  autotest/rust/src/tests/_test_dma.rs
  autotest/rust/src/tests/_test_irq.rs
  autotest/rust/src/tests/_test_map.rs
  autotest/rust/src/tests/_test_shm.rs
  autotest/src/tests/src-rs/Cargo.toml
  autotest/src/tests/src-rs/devices_dt.rs.in
  autotest/src/tests/src-rs/meson.build
  autotest/src/tests/src-rs/rust-toolchain.toml.in
  autotest/src/tests/src-rs/src/devices_utils.rs
  autotest/src/tests/src-rs/src/lib.rs
  autotest/src/tests/src-rs/src/test_gpio.rs
  autotest/src/tests/src-rs/src/test_handle.rs
  autotest/src/tests/src-rs/src/test_ipc.rs
Owners: @victor-servant, @florent-valette, @philippe-thierry

autotest,rust: renaming handle test mod to be C naming compliant for robot
  autotest/rust/meson.build
  autotest/rust/src/main.rs
  autotest/rust/src/tests/mod.rs
  autotest/rust/src/tests/test_gethandle.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: fixing rust toolchain to used one (1.86.0)
  .github/workflows/gnulinux.yml
  .github/workflows/macos.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: adding SHM tests support
  autotest/rust/meson.build
  autotest/rust/src/devices_dt.rs.in
  autotest/rust/src/main.rs
  autotest/rust/src/tests/_test_shm.rs
  autotest/rust/src/tests/mod.rs
  autotest/rust/src/tests/test_shm.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: adding support for map/unmap API
  autotest/rust/meson.build
  autotest/rust/src/main.rs
  autotest/rust/src/tests/_test_map.rs
  autotest/rust/src/tests/mod.rs
  autotest/rust/src/tests/test_map.rs
  uapi/src/systypes.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

build: adding experimental marker for SMP mode
  kernel/Kconfig
  kernel/src/drivers/smp/Kconfig
  kernel/src/startup/entrypoint.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

build: adding summary marker for experimental mode
  meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: add dma test
  autotest/rust/meson.build
  autotest/rust/src/main.rs
  autotest/rust/src/tests/mod.rs
  autotest/rust/src/tests/test_dma.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: fix map test build
  autotest/rust/src/tests/test_map.rs
Owners: @victor-servant

Addition of RV32 to Kconfig menu
  kernel/Kconfig
  kernel/src/arch/Kconfig
  kernel/src/arch/asm-cortex-m/Kconfig
  kernel/src/arch/asm-generic/Kconfig
  kernel/src/arch/asm-rv32/Kconfig
Owners: @florent-valette, @philippe-thierry, @victor-servant

Misceleanous fixes of managers
  kernel/include/sentry/managers/memory.h
  kernel/include/sentry/managers/memory_types.h
  kernel/include/sentry/managers/meson.build
  kernel/src/managers/clock/perfo.c
  kernel/src/managers/debug/debug.c
  kernel/src/managers/device/device.c
  kernel/src/managers/memory/memory_mpu.c
  kernel/src/managers/task/task_core.c
  kernel/src/managers/time/delay.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

Addition of rv32 support in kernel arch
  kernel/include/sentry/arch/asm-cortex-m/semihosting.h
  kernel/include/sentry/arch/asm-generic/interrupt.h
  kernel/include/sentry/arch/asm-generic/membarriers.h
  kernel/include/sentry/arch/asm-generic/memory.h
  kernel/include/sentry/arch/asm-generic/meson.build
  kernel/include/sentry/arch/asm-generic/panic.h
  kernel/include/sentry/arch/asm-generic/platform.h
  kernel/include/sentry/arch/asm-generic/semihosting.h
  kernel/include/sentry/arch/asm-generic/thread.h
  kernel/include/sentry/arch/asm-generic/tick.h
  kernel/include/sentry/arch/asm-rv32/buses.h
  kernel/include/sentry/arch/asm-rv32/handler.h
  kernel/include/sentry/arch/asm-rv32/io.h
  kernel/include/sentry/arch/asm-rv32/membarriers.h
  kernel/include/sentry/arch/asm-rv32/meson.build
  kernel/include/sentry/arch/asm-rv32/mtimer.h.in
  kernel/include/sentry/arch/asm-rv32/platform.h
  kernel/include/sentry/arch/asm-rv32/plic.h
  kernel/include/sentry/arch/asm-rv32/pmp.h
  kernel/include/sentry/arch/asm-rv32/riscv-utils.h
  kernel/include/sentry/arch/asm-rv32/semihosting.h
  kernel/include/sentry/arch/asm-rv32/systick.h
  kernel/include/sentry/arch/asm-rv32/thread.h
  kernel/include/sentry/arch/asm-rv32/tick.h
  kernel/include/sentry/arch/meson.build
  kernel/include/sentry/io.h
  kernel/src/arch/asm-cortex-m/handler-svc-lut.c
  kernel/src/arch/asm-cortex-m/meson.build
  kernel/src/arch/asm-cortex-m/semihosting.c
  kernel/src/arch/asm-rv32/handler-svc-lut.c
  kernel/src/arch/asm-rv32/handler.c
  kernel/src/arch/asm-rv32/meson.build
  kernel/src/arch/asm-rv32/plic.c
  kernel/src/arch/asm-rv32/rv32-sentry.ld.in
  kernel/src/arch/asm-rv32/systick.c
  kernel/src/arch/asm-rv32/tick.c
  kernel/src/arch/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Add RV32 support in idle task
  idle/src/arch/asm-cortex-m/control.h
  idle/src/arch/control.h
  idle/src/arch/meson.build
  idle/src/arch/riscv32/control.h
  idle/src/arch/riscv32/meson.build
  idle/src/arch/riscv32/riscv32-idle.ld.in
Owners: @florent-valette, @philippe-thierry, @victor-servant

Fixed missing include in kernel syscalls
  kernel/src/syscalls/sysgate_get_devhandle.c
  kernel/src/syscalls/sysgate_gpio.c
  kernel/src/syscalls/sysgate_int_acknowledge.c
  kernel/src/syscalls/sysgate_int_disable.c
  kernel/src/syscalls/sysgate_int_enable.c
  kernel/src/syscalls/sysgate_send_ipc.c
  kernel/src/syscalls/sysgate_waitforevent.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

Start rv32 support in uapi
  uapi/meson.build
  uapi/src/arch/meson.build
  uapi/src/arch/mod.rs
  uapi/src/arch/riscv32.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

Fix typo in doc and add gitignore
  doc/.gitignore
  doc/concepts/uapi/model.rst
  doc/internals/Doxyfile
Owners: @florent-valette, @philippe-thierry, @victor-servant

Add simple opentitan dts example
  dts/examples/opentitan_earlgrey.dts
  dts/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

WIP: add rv32 support to autotest
  autotest/include/io.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

UAPI: applied cargo format
  uapi/src/arch/mod.rs
  uapi/src/arch/riscv32.rs
Owners: @victor-servant

Add support files for rv32 cross compilation
  configs/qemu_rv32im_defconfig
  support/arch/meson.build
  support/arch/riscv32/meson.build
  support/meson/riscv32im-unknown-none-elf.ini
Owners: @florent-valette, @philippe-thierry, @victor-servant

Addition of basic USART support for opentitan
  kernel/include/sentry/arch/asm-rv32/io.h
  kernel/include/sentry/arch/asm-rv32/meson.build
  kernel/src/drivers/usart/Kconfig
  kernel/src/drivers/usart/lowrisc/meson.build
  kernel/src/drivers/usart/lowrisc/opentitan_uart.c
  kernel/src/drivers/usart/lowrisc/opentitan_uart.h.in
  kernel/src/drivers/usart/meson.build
  kernel/src/drivers/usart/st/Kconfig
  kernel/src/drivers/usart/st/meson.build
  kernel/src/drivers/usart/st/stm32-lpuart.c
  kernel/src/drivers/usart/st/stm32-usart-dt.c.in
  kernel/src/drivers/usart/st/stm32-usart-dt.h.in
  kernel/src/drivers/usart/st/stm32-usart.c
  kernel/src/drivers/usart/st/usart.c
  kernel/src/drivers/usart/st/usart_priv.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

Added build of global firmware image
  meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

Fixed PMP configuration
  kernel/include/sentry/arch/asm-rv32/pmp.h
  kernel/include/sentry/arch/asm-rv32/riscv-utils.h
Owners: @florent-valette, @philippe-thierry, @victor-servant

Work on idle
  idle/src/arch/riscv32/riscv32-idle.ld.in
  kernel/src/arch/asm-rv32/rv32-sentry.ld.in
  kernel/src/managers/task/task_idle.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

Added experimental tag to rv32
  kernel/src/arch/Kconfig
  kernel/src/arch/asm-rv32/Kconfig
Owners: @florent-valette, @philippe-thierry, @victor-servant

doc: update Frama-C related documentation with last Sentry state of art
  README.md
  doc/concepts/proof/basics.rst
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,rust: fixing SHM and SHMPermission definition in Rust mode
  autotest/rust/src/tests/test_shm.rs
  uapi/src/systypes.rs
Owners: @victor-servant

autotest,rust: adding sleep timeout check for gpio toggle
  autotest/rust/src/tests/test_gpio.rs
Owners: @victor-servant

autotest,rust: DMA suite fixed
  autotest/rust/src/tests/test_dma.rs
  dts/examples/nucleo_u5a5_autotest.dts
Owners: @victor-servant, @florent-valette, @philippe-thierry

autotest: fixing the conditional compilation at meson & rust level
  autotest/rust/meson.build
  autotest/rust/src/tests/mod.rs
Owners: @florent-valette, @philippe-thierry, @victor-servant

uapi: fixing invalid input parsing in wait_for_event
  uapi/src/syscall.rs
Owners: @victor-servant

autotest,rs: fixing various bugs in DMA test suite
  autotest/rust/src/tests/test_dma.rs
  autotest/rust/src/tests/test_shm.rs
Owners: @victor-servant

deps: fixing dts-utils to 0.4.0 minimum
  requirements.txt
Owners: @florent-valette, @philippe-thierry, @victor-servant

kernel,sysgate: adding autotest-only capability control
  kernel/include/sentry/syscalls.h
  kernel/src/arch/asm-cortex-m/handler-svc-lut.c
  kernel/src/syscalls/meson.build
  kernel/src/syscalls/sysgate_autotest.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

autotest,capa: adding security manager level cap-set for autotest
  kernel/include/sentry/managers/security.h
  kernel/include/sentry/syscalls.h
  kernel/src/managers/security/security.c
  kernel/src/syscalls/sysgate_autotest.c
Owners: @florent-valette, @philippe-thierry, @victor-servant

reuse: update SPDX headers
  kernel/include/sentry/managers/security.h
  kernel/include/sentry/syscalls.h
  kernel/src/arch/asm-cortex-m/handler-svc-lut.c
  kernel/src/managers/security/security.c
  kernel/src/syscalls/meson.build
Owners: @florent-valette, @philippe-thierry, @victor-servant

ci: adding gitguardian scanning to Sentry
  .github/workflows/gitguardian.yml
Owners: @florent-valette, @philippe-thierry, @victor-servant

CODEOWNERS:

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence.
*       @florent-valette @philippe-thierry @victor-servant
# configs are the mechanism that link .config to meson
configs @florent-valette
# tools are the subpart of meson and templates that allow generation of
# kernel sources (headers, etc.) typically using jinja2 and json
tools   @florent-valette
# all rust code is under the ownership of Victor
*.rs    @victor-servant
*.toml    @victor-servant
